body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-weight: bold;
}

.menu {
    background: deepskyblue;
    display: flex;
    justify-content: flex-end;
}

.menu ul {
    list-style-type: none;
    display: flex;
    margin: 8px;
}

.menu ul li {
    padding: 10px;
    margin: 5px;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.conteudo {
    display: flex;
    align-items: center;
    margin: 20px;
}

.card {
    background: skyblue;
    border: 7px solid black;
    border-radius: 25px;
    width: 125px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.card:hover {
    background: lightblue;
    border: 7px solid black;
    border-radius: 25px;
    width: 125px;
    margin: 10px;
}

.links {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.links:hover {
    color: black;
}

.formu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formu button {
    margin: 15px;
    background: skyblue;
    border: 2px inset blue;
    border-radius: 5px;
    padding: 10px;
}

.formu button:hover {
    cursor: pointer;
}

.num {
    display: flex;
    flex-direction: column;
}

.num input {
    height: 20px;
    border: 3px outset black;
    border-radius: 5px;
    margin-left: 30px;
}

