{% extends 'base.html' %}

{% block conteudo %}
<div class="content">
    <h1>Funcionários</h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <i class="bi-plus-circle"></i> Novo Funcionário
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Cadastrar Funcionário</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="form-calc d-flex flex-column " action="{{url_for('registrar')}}" method="post"
                          id="form-cad">
                        <label>
                            Nome:
                            <input id="input-name" class="form-control w-100 m-2" placeholder="Defina o nome" name="form_nome"
                                   >
                        </label>
                        <div class="d-flex justify-content-between">
                            <label>
                                Data de Nascimento:
                                <input id="input-date" class="form-control w-100 m-2" type="date"
                                       placeholder="Defina o Data de Nascimento" name="form_date_nascimento">
                            </label>
                            <label>
                                CPF:
                                <input id="input-cpf" class="form-control w-100 m-2" placeholder="Defina o CPF" name="form_cpf"
                                       >
                            </label>
                        </div>
                        <label>
                            E-mail:
                            <input id="input-email" class="form-control w-100 m-2" type="email" placeholder="Defina o E-mail"
                                   name="form_email" >
                        </label>
                        <label>
                            Senha:
                            <input id="input-senha" class="form-control w-100 m-2" type="password" placeholder="Defina o Senha"
                                   name="form_senha" >
                        </label>
                        <label>
                            Cargo:
                            <input id="input-cargo" class="form-control w-100 m-2" placeholder="Defina o Cargo" name="form_cargo"
                                   >
                        </label>
                        <label>
                            Sálario:
                            <input id="input-salario" class="form-control w-100 m-2" placeholder="Defina o Sálario" name="form_salario"
                                   >
                        </label>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info">Cadastrar</button>
                            <a class="btn btn-danger" onclick="limpaInputsCad()">Cancelar</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">CPF</th>
            <th scope="col">E-mail</th>
            <th scope="col">Cargo</th>
            <th scope="col">Sálario</th>
            <th scope="col">Data de Criação</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        {% for func in funcio_exe%}
        <tr>
            <th scope="row">{{func.id}}</th>
            <td>{{func.nome}}</td>
            <td>{{func.data_nascimento}}</td>
            <td>{{func.cpf}}</td>
            <td>{{func.email}}</td>
            <td>{{func.cargo}}</td>
            <td>R$: {{func.salario}}</td>
            <td>{{func.criado_em}}</td>
            <td>
                <a href="{{url_for('editar_funcionario',var_id=func.id)}}" id="link_out" data-bs-toggle="modal"
                   data-bs-target="#staticEdit{{func.id}}"><i class="bi bi-pencil"></i></a>
                <a href="{{url_for('deletar_funcionario',var_id=func.id)}}" id="" data-bs-toggle="modal"
                   data-bs-target="#staticDrop{{func.id}}"><i class="bi bi-trash text-danger"></i></a>
            </td>

            <div class="modal fade" id="staticEdit{{func.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="staticEdit_{{func.id}}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticEdit_{{func.id}}">Editar Conta</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="form-calc" action="{{url_for('editar_funcionario',var_id=func.id)}}"
                                  method="post">
                                <label>
                                    Nome:
                                    <input class="form-control w-100 m-2" placeholder="Defina o nome"
                                           name="form_nome" value="{{func.nome}}">
                                </label>
                                <div class="d-flex justify-content-between">
                                    <label>
                                        Data de Nascimento:
                                        <input class="form-control w-100 m-2" type="date"
                                               value="{{func.data_nascimento}}"
                                               placeholder="Defina o Data de Nascimento" name="form_date_nascimento">
                                    </label>
                                    <label>
                                        CPF:
                                        <input class="form-control w-100 m-2" placeholder="Defina o CPF" name="form_cpf"
                                               value="{{func.cpf}}">
                                    </label>
                                </div>
                                <label>
                                    E-mail:
                                    <input class="form-control w-100 m-2" type="email" placeholder="Defina o E-mail"
                                           name="form_email" value="{{func.email}}">
                                </label>
                                <label>
                                    Cargo:
                                    <input class="form-control w-100 m-2" placeholder="Defina o Cargo" name="form_cargo"
                                           value="{{func.cargo}}">
                                </label>
                                <label>
                                    Sálario:
                                    <input class="form-control w-100 m-2" placeholder="Defina o Sálario"
                                           name="form_salario" value="{{func.salario}}">
                                </label>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-info"><i class="bi bi-pencil"></i> Editar
                                    </button>
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal"
                                            aria-label="Close">Cancelar
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal fade" id="staticDrop{{func.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="staticDrop_{{func.id}}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticDrop_{{func.id}}">Deletar Conta</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body d-flex flex-column">
                            <form class="form-calc" action="{{url_for('deletar_funcionario',var_id=func.id)}}"
                                  method="post">
                                <div class="modal-footer">
                                    <p>Deseja deletar conta {{func.nome}}?</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger"
                                            type="submit">
                                        <i class="bi bi-person-lines-fill"></i>
                                        Deletar
                                    </button>
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal"
                                            aria-label="Close">Cancelar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}