{% extends 'base.html' %}

{% block conteudo %}

<div class="sbt d-flex overflow-hidden">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner  bg-dark">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="/static/img/carrosel_1.jpg" class="d-block w-100 opacity-50" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="/static/img/carrosel_2.jpg" class="d-block w-100 opacity-50" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="/static/img/carrosel_3.jpg" class="d-block w-100 opacity-50" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="w-100 h-100 position-absolute d-flex flex-column justify-content-evenly">
        <p class="title-senai text-white display-1 text-center">Capacitação profissional na indústria</p>
        <p class="subtitle-senai text-white display-6 text-center">Confira os nossos cursos Profissionalizantes</p>
    </div>
</div>

<div class="cursos">
    <div class="curso-text col-8">
        <h1 class="titulo-text d-flex justify-content-center">Veterinario</h1>
        <p class="descricao-text">O curso tem uma duração média de cinco anos, o que equivale a 10 semestres. A grade
            curricular do curso geralmente inclui disciplinas como anatomia, fisiologia, patologia, microbiologia,
            parasitologia, cirurgia, farmacologia, nutrição animal, reprodução, clínica médica e cirúrgica, entre
            outras. Também pode abranger disciplinas relacionadas à saúde pública, epidemiologia, legislação veterinária
            e ética profissional. Durante o curso, os estudantes são obrigados a realizar estágios práticos em clínicas
            veterinárias, hospitais, fazendas, laboratórios e outros locais relacionados à prática veterinária. Isso
            oferece uma oportunidade de adquirir experiência prática e aplicar o conhecimento teórico.
        </p>
    </div>
    <div class="curso-img bg-dark col-4">
        <img src="/static/img/veteri.jpg" class="w-100 h-100">
    </div>
</div>

<div class="cursos">
    <div class="curso-img bg-dark col-4">
        <img src="/static/img/dente.jpg" class="w-100 h-100">
    </div>
    <div class="curso-text col-8">

        <h1 class="titulo-text d-flex justify-content-center align-center flex-column">Oftalmologista</h1>
        <p class="descricao-text">Durante o curso, os alunos aprendem sobre anatomia, fisiologia e patologias do olho,
            além de técnicas de diagnóstico e tratamento de diversas condições visuais. As formações podem incluir aulas
            teóricas, estágios práticos e pesquisa, preparando os graduandos para atuar em clínicas, hospitais e
            consultórios. Investir em um curso de oftalmologia é fundamental para quem deseja contribuir
            significativamente para a saúde ocular da população.
        </p>
    </div>

</div>

{% endblock %}