{% extends 'base.html' %}

{% block conteudo %}
<div class="conteudo">
    <h1>Login</h1>
    <div class="calculos">
        <form class="card_operacao form-card bg-secondary" action="{{url_for('login')}}" method="post">
            E-mail:
            <label>
                <input type="text" class="form-control m-1 w-100" placeholder="Digite o G-mail" name="form_email">
            </label>
            Senha:
            <label>
                <input type="password" class="form-control m-1 w-100" placeholder="Digite sua Senha" name="form_senha">
            </label>
            <div class="d-flex justify-content-around">
                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <i class="bi bi-person-lines-fill"></i> Cadastrar
                </button>
                <button type="submit" class="btn btn-success"><i class="bi bi-upload"> Enviar</i></button>

                <!-- Modal -->

            </div>
        </form>
    </div>
</div>
<div class="conteudo">
    <div class="calculos">
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex flex-column">
                        <form class="form-calc d-flex flex-column justify-content-centerq" action="{{ url_for('registrar') }}" method="post">
                            <label>
                                Nome:
                                <input class="form-control w-100 m-100" placeholder="Defina o nome"
                                       name="form_nome">
                            </label>
                            <div class="d-flex justify-content-between">
                                <label>
                                    Data de Nascimento:
                                    <input class="form-control w-100" type="date"
                                           placeholder="Defina o Data de Nascimento"
                                           name="form_date_nascimento">
                                </label>
                                <label>
                                    CPF:
                                    <input class="form-control w-100" placeholder="Defina o CPF"
                                           name="form_cpf">
                                </label>
                            </div>
                            <label>
                                E-mail:
                                <input class="form-control w-100" type="email" placeholder="Defina o E-mail"
                                       name="form_email">
                            </label>
                            <label>
                                Senha:
                                <input class="form-control w-100" type="password" placeholder="Defina o Senha"
                                       name="form_senha">
                            </label>
                            <label>
                                Cargo:
                                <input class="form-control w-100" placeholder="Defina o Cargo"
                                       name="form_cargo">
                            </label>
                            <label>
                                Sálario:
                                <input class="form-control w-100" placeholder="Defina o Sálario"
                                       name="form_salario">
                            </label>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info"><i class="bi bi-person-lines-fill"></i>
                                    Cadastrar
                                </button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock conteudo %}