{% extends 'base.html' %}

{% block conteudo %}
<h1>Login</h1>
<div class="calculos">
        <form class="card_operacao form-card bg-secondary">
            CPF:
            <label>
                <input type="text" class="form-control w-100" placeholder="Digite o CPF" name="form-l_cpf">
            </label>
            Senha:
            <label>
                <input type="password" class="form-control w-100" placeholder="Digite sua Senha" name="form-l_senha">
            </label>
        </form>
    </div>
</div>
{% endblock conteudo %}